<h1>Messages for <%= current_user.email %></h1>

<ul>
  <% @messages.each do |message| %>
    <li><%= "#{message.body} - created on #{message.created_at}" %>
      <p><%= link_to "Delete", user_message_path(current_user.id, message),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
    </li>
  <% end %>
</ul>

<hr>

<%= link_to "New Message", new_user_message_path %>
