<h1>Messages for <%= current_user.email %></h1>

<ul>
  <% @messages.each do |message| %>
    <li><%= "#{message.body} - created on #{message.created_at}" %>
      <p><%= link_to "Delete", message, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</ul>

<hr>
